{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}

{% block content %}
<h1 class="mt-5">
    LlamaChat
</h1>
<p class="lead">
    {% if current_user.is_authenticated %}
        Bienvenido.
    {% else %}
        Inicia sesión para crear sesión de prompts
    {% endif %}
</p>
    <div class="form-container col-md-10 mx-auto">
        <form method="POST">
            <div class="textarea-wrapper">
                <textarea id="prompt" name="textarea" class="form-control" placeholder="Mensaje..." oninput="ajustarAltura(this)"></textarea>
                <button id="send" class="btn btn-primary btn-inside-textarea" type="submit">Enviar</button>
            </div>
            <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        </form>
    </div>

{% endblock %}
